{% extends "index.html" %}
{% block contenido_titulo %}
    <h1 class="mb-5">Bienvenido a nuestra pagina</h1>

    <h5 class="mb-5">Podrás encontrar diferente cursos y articulos.</h5>
{% endblock %}
{% block contenido_cambia %}
<h4>Ingrese los datos para ingresar a la camada que deseas agregar </h4>
    <form action="{% url 'AppCoderCursos' %}" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value ="Enviar">
    </form>
    <br><hr>
<h4>Por favor, indique el nombre del curso que desea buscar </h4>
    <form action="{% url 'AppCoderBuscarCursos' %}">
        {{ form_busqueda.as_p }}
        <input type="submit" value ="Buscar">
    </form>
    <br><hr>
{% endblock %}